<div class="container-fluid soft-gray-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">Wiki Categories</div>
          <div class="card-body">
            <div class="row">
              <div *ngFor="let category of categories" class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="well hoverwell" [routerLink]="['/browse', category.categoryUrl]">
                  <img class="article-image" [src]="category?.imageUrl">
                  <div style="text-align:center; padding-top:10px;">{{category.name}}</div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                <div class="well new-category">
                  <div style="text-align:center; padding-top:10px; font-weight:500;">Add Category</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
