@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
  }

.container-fluid {
    padding: 0px;
    background-color: #f4f5f5;
}

.container {
    font-family: "Segoe UI";
}

.col-lg-3 {
    background-color:#ebeced; 
    padding: 0px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.col-lg-9 {
    height: calc(100vh - 50px);
    background-color: white;
    overflow-y: auto;
}

.article-view {
    margin: 30px;
    margin-bottom: 60px;
}

