<div class="container">
  <div class="row">
    <div class="col-12">
      <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
        <div class="form-group row">
          <h2>Create a New Account</h2>
        </div>
        <div class="form-group row">
          <label for="email">Email</label>
          <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" tmFocus ngModel #email="ngModel">
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
        </div>
        <div class="form-group row">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
        </div>
        <div class="form-group row">
          <label for="team">Team</label>
          <select class="form-control" id="team" required [ngModel]="selectedValue" (ngModelChange)="onSelectedChange($event)" name="team">
            <option *ngFor="let option of options">{{ option }}</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="team">Permission Level</label>
          <select class="form-control" id="permission" required [ngModel]="selectedPermission" (ngModelChange)="onPermissionChange($event)" name="permissions">
            <option *ngFor="let option of permissionOptions">{{ option }}</option>
          </select>
        </div>

        <div class="form-group row">
          <button style="padding:7px; margin-top:5px;" type="submit" class="btn btn-block btn-primary" [disabled]="f.form.invalid || isRequesting">Create</button>
        </div>
        <div class="form-group row">
          <app-spinner [isRunning]="isRequesting"></app-spinner>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
