@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid {
  padding: 0px;
  background-color: white;
}

.container {
  font-family: "Segoe UI";
}

.col-lg-3 {
  background-color: white;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.col-lg-7 {
  min-height: calc(100vh - 63px);
  background-color: white;
  overflow-y: auto;
}

.article-view {
  margin: 30px;
  margin-bottom: 60px;
}
