.new-user-alert {
  padding-top: 2.5rem
}

.login-form {
  background-color: #DAE0E6;
  padding: 30px;
  border-radius: 5px;
}

.form-group {
  padding-top:10px;
}

.login-links {
  padding-top: 10px;
}


