@media (min-width: 320px) {
  .container {
    max-width: 290px;
  }

  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 470px;
  }

  .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.new-user-alert {
  padding-top: 2.5rem
}

.login-form {
  background-color: #DAE0E6;
  padding: 30px;
  border-radius: 5px;
}

.form-group {
  padding-top:10px;
}



