.soft-gray-section {
  background-color: #e4e5e6;
  min-height: calc(100vh - 63px);
}

.card {
  margin-top: 30px;
  border: solid 1px lightgray;
}

.card-header {
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
  font-size: 15px;
}

.card-body {
  padding: 40px;
  display: inline;
}

.hoverwell {
  padding: 0 10px;
  margin: 10px 5px;
  background-color: #f0f3f5;
  border-radius: 3px;
  font-weight: 500;
  height: 100px;
  font-size: 1rem;
}

  .hoverwell:hover {
    background-color: #DAE0E6;
    cursor: pointer;
  }

.hoverwell-text {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.new-category {
  padding: 25px 10px;
  margin: 10px 10px;
  background-color: white;
  border-radius: 3px;
  font-weight: 500;
  height: 100px;
  font-size: 1rem;
  border: dashed 3px #DAE0E6;
}

  .new-category:hover {
    background-color: #DAE0E6;
    cursor: pointer;
  }

.article-image {
  max-height: 50px;
  display: block;
  margin: auto;
}
