<div class="configuration-section-1">
    <div style="display: flex;flex-direction: column;height: 100%">
        <div class="article-menu">
            <div [ngClass]="{'article-item-active': showSections, 'article-item': showArticleSettings}"
                style="margin-right: 5px;" (click)="toggleShowSections()">Sections</div>
            <div [ngClass]="{'article-item-active': showArticleSettings, 'article-item': showSections}"
                (click)="toggleShowArticleSettings()">Categories<div *ngIf="missingFields" class="warning-star">*</div></div>
        </div>
        <div *ngIf="showSections">
            <div *ngFor="let component of newArticle.articleItems;let i = index" (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div *ngIf="isTitleComponent(component)" class="configuration-object-container"
                    style="margin-top: 10px;" (click)="toggleTitleSettings(i)">
                    <div class="configuration-object inline-block">{{component.displayName}}</div>
                </div>
                <div *ngIf="isTextComponent(component)" class="configuration-object-container"
                    (mouseenter)="highlightComponent(i)" (mouseleave)="dehighlightComponent(i)">
                    <div class="configuration-object inline-block" (click)="toggleTextSettings(i)">{{component.displayName}}</div>
                    <div class="configuration-order">
                      <div (click)="moveComponentUp(i)">
                        <i class="fa fa-sort-up block up-icon"></i>
                      </div>
                      <div (click)="moveComponentDown(i)">
                        <i class="fa fa-sort-down block down-icon"></i>
                      </div>
                    </div>
                </div>
                <div *ngIf="isSubheaderComponent(component)" class="configuration-object-container"
                    (mouseenter)="highlightComponent(i)" (mouseleave)="dehighlightComponent(i)">
                    <div class="configuration-object inline-block" (click)="toggleSubheaderSettings(i)">{{component.displayName}}</div>
                    <div class="configuration-order">
                      <div (click)="moveComponentUp(i)">
                        <i class="fa fa-sort-up block up-icon"></i>
                      </div>
                      <div (click)="moveComponentDown(i)">
                        <i class="fa fa-sort-down block down-icon"></i>
                      </div>
                    </div>
                </div>
                <div *ngIf="isBulletedListComponent(component)" class="configuration-object-container"
                    (mouseenter)="highlightComponent(i)" (mouseleave)="dehighlightComponent(i)">
                    <div class="configuration-object inline-block" (click)="toggleBulletedListSettings(i)">{{component.displayName}}</div>
                    <div class="configuration-order">
                      <div (click)="moveComponentUp(i)">
                        <i class="fa fa-sort-up block up-icon"></i>
                      </div>
                      <div (click)="moveComponentDown(i)">
                        <i class="fa fa-sort-down block down-icon"></i>
                      </div>
                    </div>
                </div>
                <div *ngIf="isNumberedListComponent(component)" class="configuration-object-container"
                    (mouseenter)="highlightComponent(i)" (mouseleave)="dehighlightComponent(i)">
                    <div class="configuration-object inline-block" (click)="toggleNumberedListSettings(i)">{{component.displayName}}</div>
                    <div class="configuration-order">
                      <div (click)="moveComponentUp(i)">
                        <i class="fa fa-sort-up block up-icon"></i>
                      </div>
                      <div (click)="moveComponentDown(i)">
                        <i class="fa fa-sort-down block down-icon"></i>
                      </div>
                    </div>
                </div>
                <div *ngIf="isFullWidthImageComponent(component)" class="configuration-object-container"
                    (mouseenter)="highlightComponent(i)" (mouseleave)="dehighlightComponent(i)">
                    <div class="configuration-object inline-block" (click)="toggleFullWidthImageSettings(i)">{{component.displayName}}</div>
                    <div class="configuration-order">
                      <div (click)="moveComponentUp(i)">
                        <i class="fa fa-sort-up block up-icon"></i>
                      </div>
                      <div (click)="moveComponentDown(i)">
                        <i class="fa fa-sort-down block down-icon"></i>
                      </div>
                    </div>
                </div>
            </div>
            <div class="add-configuration-object" style="text-align:center; margin-bottom: 70px;"
                (click)="showAddItemMenu()">
                <div class="inline-block" style="line-height: 2rem;">Add Section</div>
            </div>
        </div>
        <div *ngIf="showArticleSettings" style="border-top: 1px solid #dfe3e8; margin-top: 10px; border-right: 2px solid #dfe3e8;
    border-left: 2px solid #dfe3e8;">
            <form class="setting-element" style="padding-top: 10px; padding-bottom: 20px;">
              <div class="form-group">
                <div *ngIf="missingFields" class="warning-star-text">* Team or public category required</div>
                <label for="mainCategory" style="margin-bottom:5px;padding-left:3px;">Team Category</label>
                <select class="form-control" id="mainCategory" name="mainCategory" [ngModel]="selectedTeamCategory" (ngModelChange)="onTeamCategoryChange($event)">
                  <option>Choose...</option>
                  <option *ngFor="let option of teamCategories">{{option.name}}</option>
                </select>
              </div>
              <div class="form-group" style="padding-top: 20px;">
                <div *ngIf="missingFields" class="warning-star-text">* Team or public category required</div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" name="publicCheckbox" [ngModel]="isPublicChecked" class="form-check-input" (change)="checked($event)">
                <label class="form-check-label" for="exampleCheck1">Publicly Available</label>
              </div>
                <div class="form-group">
                  <label for="publicCategory">Public Category</label>
                  <select [disabled]="!isPublicChecked" class="form-control" id="publicCategory" name="publicCategory" [ngModel]="selectedWikiCategory" (ngModelChange)="onWikiCategoryChange($event)">
                    <option>Choose...</option>
                    <option *ngFor="let option of wikiCategories">{{option.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea rows="3" class="form-control" [disabled]="!isPublicChecked" (input)="updateDescription($event)" value="{{newArticle.description}}"></textarea>
                </div>
            </form>
        </div>
        <div class="column-spacer"></div>
        <div class="section-button-container">
            <button (click)="saveArticle()" [disabled]="missingFields" type="button" class="btn btn-success save-button">Save</button>
        </div>
    </div>
</div>
