<div class="container-fluid blue-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="welcome-section">
          <div class="text-center">Welcome to the ESD self service wiki</div>
        </div>
        <div class="search-title">
          <div class="text-center">Use the search box to find articles or select a category below</div>
        </div>
        <div class="input-group search-box center">
          <input #search class="form-control" type="search" placeholder="Search by keyword" (keyup.enter)="onSearchEnter(search.value)">
          <div class="input-group-append">
            <button class="btn btn-link" type="button" (click)="onSearchEnter(search.value)">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid white-section">
  <div class="row">
    <div class="container">
      <div class="row category-section" [ngStyle]="{ 'max-height' : (moreCategories ? 'none' : '177px')}">
        <div *ngFor="let category of categories">
          <div class="well hoverwell" [routerLink]="['/browse', category.categoryUrl]">
            <img class="article-image" [src]="category?.imageUrl">
            <div style="text-align:center; padding-top:10px;">{{category.name}}</div>
          </div>
        </div>
      </div>
      <div style="padding: 10px 0; margin-bottom: 20px; margin-left: 15px;">
        <div *ngIf="!moreCategories" class="more-text" (click)="showMoreCategories()">More Categories</div>
        <div *ngIf="moreCategories" class="more-text" (click)="showLessCategories()">Less Categories</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid white-section">
  <div class="row">
    <div class="container">
      <div class="row article-list-section" style="margin: 15px 0 15px 15px;">
        <div class="article-list-container1">
          <div>New Hires</div>
          <div class="article-list">
            <div class="article-item" [routerLink]="['/browse/articles/15']">How to setup the Microsoft MFA</div>
            <div class="article-item" [routerLink]="['/browse/articles/17']">How to setup your security questions</div>
            <div class="article-item" [routerLink]="['/browse/articles/16']">How to setup email on a mobile</div>
            <div class="article-item more-text" (click)="browseCategory('new_hires')">More New Hire Articles</div>
          </div>
        </div>
        <div class="article-list-container2-3">
          <div>Windows 10 Basics</div>
          <div class="article-list">
            <div class="article-item" [routerLink]="['/browse/articles/18']">How to clear the credential manager</div>
            <div class="article-item" [routerLink]="['/browse/articles/19']">How to change your password in Windows</div>
            <div class="article-item" [routerLink]="['/browse/articles/29']">How to map a network drive</div>
            <div class="article-item more-text" (click)="browseCategory('windows')">More Windows Articles</div>
          </div>
        </div>
        <div class="article-list-container2-3">
          <div>Mac Basics</div>
          <div class="article-list">
            <div class="article-item" [routerLink]="['/browse/articles/21']">How to clear the keychain</div>
            <div class="article-item" [routerLink]="['/browse/articles/22']">How to change your password on a mac</div>
            <div class="article-item" [routerLink]="['/browse/articles/23']">How to add a shared inbox to outlook</div>
            <div class="article-item more-text" (click)="browseCategory('mac')">More Mac Articles</div>
          </div>
        </div>
        <div class="article-list-container4">
          <div>Browser Issues</div>
          <div class="article-list">
            <div class="article-item" [routerLink]="['/browse/articles/24']">How to clear the cache in Chrome</div>
            <div class="article-item" [routerLink]="['/browse/articles/25']">How to clear the cache in Firefox</div>
            <div class="article-item" [routerLink]="['/browse/articles/26']">How to clear the cache in Safari</div>
            <div class="article-item more-text" (click)="browseCategory('browser_issues')">More Browser Articles</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gray-section">
  <div class="row">
    <div class="container">
      <div class="row vitalyst-section">
        <div class="vitalyst-container">
          <img class="vitalyst-img" src="/Images/Excel_256x256.png" />
          <img class="vitalyst-img" src="/Images/Word_256x256.png" />
          <img class="vitalyst-img" src="/Images/PowerPoint_256x256.png" />
          <img class="vitalyst-img" src="/Images/Outlook_256x256.png" />
        </div>
        <div class="vitalyst-container2">
          <div class="vitalyst-text-container">
            <div class="vitalyst-text-header">Microsoft & Adobe Support</div>
            <div class="vitalyst-text-body">For any questions regarding Adobe or Microsoft Office products, please call Vitalyst at <strong>888 474 8778 Opt. 3</strong> for assistance.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid white-section">
  <div class="row">
    <div class="container">
      <div class="row training-section">
        <div class="training-item-container">
          <div class="training-item article-list-container1">
            <div class="training-item-header">Submit A Ticket</div>
            <div class="training-item-body">Click the link below to submit an iform ticket.</div>
            <div class="more-text" style="text-align:left;" (click)="clickTicket()">Submit an iform</div>
          </div>
          <div class="training-item article-list-container2-3">
            <div class="training-item-header">Computer Support</div>
            <div class="training-item-body">For PC, Mac, and general troubleshooting support.</div>
            <div class="nonclick-more-text" style="text-align:left;">Call 888 474 8778 Opt. 1</div>
          </div>
          <div class="training-item article-list-container2-3">
            <div class="training-item-header">Application Support</div>
            <div class="training-item-body">For assistance with HR Link, Travel Source, & Concur.</div>
            <div class="nonclick-more-text" style="text-align:left;">Call 888 474 8778 Opt. 2</div>
          </div>
          <div class="training-item article-list-container4">
            <div class="training-item-header">Global Operation Center</div>
            <div class="training-item-body">The GOC is available 24/7 for IT technicians to report outages.</div>
            <div class="nonclick-more-text" style="text-align:left;">Call 888 474 8778 Opt. 4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
