<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-sm navbar-dark bg-light">
        <a class="navbar-brand" routerLink="">ESDWiki</a>
        <button class="navbar-toggler"
                (click)="isNavbarCollapsed = !isNavbarCollapsed"
                type="button"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed"
             class="collapse navbar-collapse"
             id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
            <li *ngIf="userService.isESDTeamMemberObservable | async" class="nav-item active">
              <a class="nav-link nav-link-border mr-auto" routerLink="/team-wiki">Team Wiki</a>
            </li>
          </ul>
          <div class="navbar-nav">
            <div ngbDropdown *ngIf="status" class="nav-item active">
              <a ngbDropdownToggle class="nav-link nav-link-border dropdown-toggle"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
                 style="font-weight:500">
                {{email}}
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <button ngbDropdownItem *ngIf="(userService.isESDTeamAdminObservable || userService.isWikiAdminObservable) | async" class="dropdown-item" routerLink="/admin/dashboard">Admin Dashboard</button>
                <button ngbDropdownItem class="dropdown-item" (click)="logout()" routerLink="/browse">Sign Out</button>
              </div>
            </div>
            <div *ngIf="!status" class="nav-item active">
              <div class="login-out-button" routerLink="/login">
                <a class="nav-link login-out-button-link">LOG IN</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
