<div class="container-fluid white-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group search-box center" style="margin-top: 20px;">
                    <input #search class="form-control border-secondary" type="search" placeholder="Search by keyword" (keyup.enter)="onSearchEnter(search.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="onSearchEnter(search.value)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid white-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row category-section" style="padding-left: 25px; padding-right: 25px;">
          <div class="col-12 col-lg-4 col-md-3 col-sm-4">
            <div>
              <div class="team-header">ESD Team Wiki</div>
              <div class="dropdown-container" ngbDropdown>
                <a ngbDropdownToggle role="button"></a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem routerLink="/team-wiki/create">Create Article</button>
                </div>
              </div>
            </div>
            <div *ngFor="let category of categoryList" [ngClass]="{'category-header': !isSelectedCategory(category?.name), 'selected-category-header': isSelectedCategory(category?.name)}" (click)="selectCategory(category?.name)">
              <div>{{category?.name}}</div>
              <div class="article-header-container" *ngIf="isSelectedCategory(category?.name)">
                <div *ngFor="let article of selectedCategoryArticleList" [ngClass]="{'article-header': !isSelectedArticle(article?.id), 'selected-article-header': isSelectedArticle(article?.id)}" (click)="selectArticle(article?.id)">{{article?.title}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-8" style="background-color: white; padding-left: 30px; padding-right: 50px; padding-bottom: 50px;">
            <div class="article-view">
              <ng-container *ngFor="let component of selectedArticle?.articleItems; let i = index;">
                <ng-container *ngIf="isTitleComponent(component)">
                  <div>
                    <h3 style="margin-bottom:20px; margin-top:10px;" [style.paddingBottom.px]="component?.bottomSpacing">{{component?.titleContents}}</h3>
                  </div>
                </ng-container>
                <ng-container *ngIf="isSubheaderComponent(component)">
                  <div style="font-size:20px; white-space: pre-wrap; margin-top: 18px; margin-bottom: 18px;"
                       [style.paddingTop.px]="component?.topSpacing"
                       [style.paddingBottom.px]="component?.bottomSpacing"
                       [style.paddingLeft.px]="component?.leftSpacing">{{component?.subheaderContents}}</div>
                </ng-container>
                <ng-container *ngIf="isTextComponent(component)">
                  <div style="white-space: pre-wrap; margin-top: 15px; margin-bottom: 15px;"
                       [style.paddingTop.px]="component?.topSpacing"
                       [style.paddingBottom.px]="component?.bottomSpacing"
                       [style.paddingLeft.px]="component?.leftSpacing">{{component?.textContents}}</div>
                </ng-container>
                <ng-container *ngIf="isBulletedListComponent(component)">
                  <ul [style.paddingTop.px]="component?.topSpacing"
                      [style.paddingBottom.px]="component?.bottomSpacing"
                      [style.paddingLeft.px]="component?.leftSpacing">
                    <li [style.paddingBottom.px]="component?.itemSpacing"
                        *ngFor="let item of component?.listContents">{{item?.bulletContents}}</li>
                  </ul>
                </ng-container>
                <ng-container *ngIf="isNumberedListComponent(component)">
                  <ol [style.paddingTop.px]="component?.topSpacing"
                      [style.paddingBottom.px]="component?.bottomSpacing"
                      [style.paddingLeft.px]="component?.leftSpacing">
                    <li [style.paddingBottom.px]="component?.itemSpacing"
                        *ngFor="let item of component?.listContents">{{item?.bulletContents}}</li>
                  </ol>
                </ng-container>
                <ng-container *ngIf="isFullWidthImageComponent(component)">
                  <div class="image-container"
                       [style.paddingBottom.px]="component?.bottomSpacing"
                       [style.paddingTop.px]="component?.topSpacing">
                    <img [src]="component?.imageSrc || component?.placeholder"
                         [ngStyle]="{ 'border': '2px solid #ebeced' }"
                         [style.width]="component?.width + '%'"
                         style="max-width:100%; margin:10px; margin-left: 5px;" />
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
