<div class="container-fluid white-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group search-box center">
                    <input class="form-control border-secondary" type="search" placeholder="Search by keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid soft-gray-section2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row category-section" style="padding-left: 25px; padding-right: 25px;">
                    <div class="col-12 col-lg-3 col-md-3 col-sm-4"
                        style="background-color: #edeeee; text-align: center; display: flex; flex-direction: column;">
                        <div class="selected-filter">Active Directory</div>
                        <div class="filter-item">Exchange</div>
                        <div class="filter-item">Outlook</div>
                        <div class="filter-item">Pulse Secure</div>
                        <div class="filter-item">Microsoft MFA</div>
                        <div class="filter-item">Duo Mobile</div>
                        <div class="filter-item">Egnyte</div>
                        <div style="flex-grow:1; border-right: 1px solid #d0d2d3;"></div>
                        <div class="create-button" routerLink="/team-wiki/create">Create Article</div>
                    </div>
                    <div class="col-lg-9"
                        style="background-color: white; padding-left: 30px; padding-right: 50px; padding-bottom: 50px;">
                        <div *ngFor="let article of articleList"
                            style="padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #d0d2d3;">
                            <a href="" class="article-title">{{article.title}}</a>
                            <div class="article-description">{{article.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>