.error-section {
  padding-top: 50px;
}

.error-header {
  font-size: 40px;
  font-weight: 700;
}

.error-details {
  font-size: 22px;
}

.btn {
  width: 200px;
}

.buttons-container {
  padding-top: 20px;
}
