<div class="container-fluid white-section">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="error-section">
          <div class="error-header text-center">Unauthorized</div>
          <div class="error-details text-center">Oops! You're either not logged in or your account has not been given access to this page.</div>
          <div class="buttons-container d-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg" routerLink="/browse">Return Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
