<div class="container" style="margin-top:30px; padding: 30px 0;">
  <div class="row">
    <div class="col-md-8 offset-2">
      <form class="login-form" #f="ngForm" novalidate (ngSubmit)="editUser(f)">
        <div class="form-group row">
          <h2>Edit User</h2>
        </div>
        <div class="form-group row">
          <div style="margin-right: 10px; width: calc(50% - 5px);">
            <label for="first-name">First name</label>
            <input type="text" class="form-control" id="first-name" required placeholder="First name" name="firstName" tmFocus [ngModel]="user?.firstName">
          </div>
          <div style="width: calc(50% - 5px);">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" id="last-name" required placeholder="Last name" name="lastName" [ngModel]="user?.lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="email">Email</label>
          <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" [ngModel]="user?.email" #email="ngModel">
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
        </div>
        <div class="form-group row">
          <label for="team">Team</label>
          <select class="form-control" id="team" required [ngModel]="selectedValue" (ngModelChange)="onSelectedChange($event)" name="team">
            <option *ngFor="let option of options">{{ option }}</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="team">Permission Level</label>
          <select class="form-control" id="permission" required [ngModel]="selectedPermission" (ngModelChange)="onPermissionChange($event)" name="permissions">
            <option *ngFor="let option of permissionOptions">{{ option }}</option>
          </select>
        </div>

        <div class="form-group row">
          <button type="submit" class="btn btn-primary" [disabled]="f.form.invalid || isRequesting">Save</button>
        </div>
        <div class="form-group row">
          <app-spinner [isRunning]="isRequesting"></app-spinner>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
