@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
  }
}

@media (min-width: 576px) {
  .container {
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

.container-fluid {
  padding: 0px;
  background-color: white;
}

.container {
  font-family: "Segoe UI";
}

.col-lg-9, .col-sm-8, .col-12 {
  margin-top: 32px;
  margin-bottom: 14px;
  padding: 0 12.5px
}

.col-lg-3, .col-sm-4 {
  margin-top: 50px;
  margin-bottom: 14px;
  padding: 0 12.5px
}

.result-header {
  font-size: 30px;
}

.article-container {
  padding: 15px 0;
}

.article-title {
  font-size: 18px;
  line-height: 27px;
  color: rgb(0, 103, 184);
  text-decoration-color: rgb(0, 103, 184);
  text-decoration-style: solid;
}

.article-description {
  color: rgb(54, 54, 54);
  font-size: 16px;
  line-height: 22px;
  margin-top: 1px;
}

.article-category {
  margin-top:5px;
  color: rgb(110, 110, 110);
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.article-category:hover {
  text-decoration: underline;
}

.help-header {
  text-align: left;
  text-decoration: underline;
}

.help-body {
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  font-weight: normal;
}

.help-link {
  color: rgb(0, 0, 0);
  font-weight: 500;
  color: #4f67b8;
}

  .help-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
