<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-8 col-12">
        <div class="result-header">Results for "{{query}}"</div>
        <div style="max-width:50%;">
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>
        <div *ngIf="!isRequesting && (articleList.length == 0)" class="article-container">
          <div class="article-description">No articles found...</div>
        </div>
        <div class="article-container" *ngFor="let article of getList()">
          <a [routerLink]="['/browse/articles/', article.id]" class="article-title">{{article?.title}}</a>
          <div class="article-description">{{article.description || "No description found."}}</div>
          <div class="article-category-container" *ngFor="let category of article.wikiCategories">
            <div class="article-category" (click)="clickCategory(category?.categoryName)">Category: {{category?.categoryName}}</div>
          </div>
        </div>
        <div style="margin-top:30px; margin-bottom: 60px;">
          <ngb-pagination [collectionSize]="articleList.length" [(page)]="page" aria-label="Search pagination"></ngb-pagination>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 col-12">
        <div class="help-header">Still need help?</div>
        <div class="help-body">Click below to submit an iForm ticket.</div>
        <div class="help-link" (click)="clickTicket()">Submit an iForm</div>
      </div>
    </div>
  </div>
</div>
