<div class="container-fluid soft-gray-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">Users</div>
          <div class="card-body">
            <div class="well hoverwell" routerLink="/admin/users/new">
              <i class="fa fa-user-plus well-icon"></i>
              <div>New</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/users/edit">
              <i class="fa fa-edit well-icon"></i>
              <div>Edit</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/users/permissions">
              <i class="fa fa-user-shield well-icon"></i>
              <div>Permissions</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="userService.isESDTeamAdminObservable | async" class="col-12 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">Team Admin</div>
          <div class="card-body">
            <div class="well hoverwell" routerLink="/admin/team/members">
              <i class="fa fa-users well-icon"></i>
              <div>Members</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/team/categories">
              <i class="fa fa-th-large well-icon"></i>
              <div>Categories</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/wiki/categories">
              <i class="fa fa-th well-icon"></i>
              <div>Sub-Categories</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="userService.isWikiAdminObservable | async" class="col-12 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">Wiki Admin</div>
          <div class="card-body">
            <div class="well hoverwell" routerLink="/admin/team/members">
              <i class="fa fa-users well-icon"></i>
              <div>Members</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/wiki/categories">
              <i class="fa fa-th-large well-icon"></i>
              <div>Categories</div>
            </div>
            <div class="well hoverwell" routerLink="/admin/wiki/categories">
              <i class="fa fa-th well-icon"></i>
              <div>Sub-Categories</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
